body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Main {
  margin: 0;  
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: blueviolet;
}

.SubscribeBtn {

  margin: 5px;
  width: 100px;
  height: 25px;
  border-radius: 15px;
  border-style:hidden;
  background-color:  rgb(60, 190, 86);
  color:white;
}
.UnsubscribeBtn {
  margin: 5px;
  width: 100px;
  height: 25px;
  border-radius: 15px;
  border-style:hidden;
  background-color:  rgb(154, 48, 48);
  color:white;
}